.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 98vh;
    background-color: antiquewhite;
}
*{
    background-color: beige;
}

img{
    height: 150px;
    width: 192px;
}
div.items{
    
    width: 15vw;
    margin: 10px;
    border: 1px solid black;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
}
.subItems{
    padding: 0px 5px;
}
/* .bb{
    border-radius: 2px;
    padding-left: 30px;
    border: 1px solid black;
   


} */
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
}
